@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#optionsHeading {
    margin-bottom: 0;
}

.rules-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}

.rules {
    position: absolute;
    top: 0;
    left: 0;
    background: crimson;
    color: #fff;
    min-height: 100vh;
    width: 400px;
    padding: 20px;
    line-height: 1.5;
    transform: translateX(-440px);
    transition: transform 1s ease-in-out;
    z-index: 2
}

.rules.show {
    transform: translateX(0);
}


.gameTitle {
    text-align: center;
    margin-bottom: 0;
}

#player1Board {
    width: 400px;
    height: 400px;
}

#player2Board {
    width: 400px;
    height: 400px;
}

#player1Input {
    margin: 50px 50px
}

#boards {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

.boardContainer {
    margin: 0 20px;
}

.placeBattleshipsContainer {
    display: flex;
    flex-direction: column;
}

.placeBattleshipForm {
    width: 300px;
    margin: 10px 0;
}

#placeBattleships {
    display: flex;
    justify-content: space-evenly;
}

#functionParameter {
    text-align: center;
    margin-bottom: 15px;
}


#functionInput {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: relative;
}

.parameterInput {
    width: 50px;
    height: 68px;
    line-height: 50px;
    /* border: 2px solid slategray; */
    font-size: 24px;
    transform: translateY(-10px);
}

.parameterText {
    width: 40px;
    height: 70px;
    /* border: 2px solid slategray; */
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 24px;
}

.parameterItem {
    /* margin: 0 5px; */
    border: none;
}

.parameterSubmit {
    margin: 0 30px;
}

input {
    text-align: center;
  }
  
::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}

.invisible {
    display: none;
}

/* .exponent {
    width: 20px;
    text-align: left;
} */

#sine {
    width: 80px;
}

#scoreTable {
    margin-left: auto;
    margin-right: auto;
}

thead {
    background-color: teal;
    color: #fff;
}

td {
    border: 1px solid #333
}